---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <nav class="bg-gray-100 p-4 rounded mb-6">
      <ul class="flex gap-4 text-blue-600 font-medium">
        <li><a href="/" class="hover:underline">Index</a></li>
        <li><a href="/penguins" class="hover:underline">Penguins</a></li>
        <li>
          <a href="/penguins-filter" class="hover:underline"
            >Penguins + filtre espèce</a
          >
        </li>
        <li>
          <a href="/penguins-multiple-filter" class="hover:underline"
            >Penguins + filtres multiples</a
          >
        </li>
        <li>
          <a href="/olympians" class="hover:underline"
            >Olympians + filtres multiples</a
          >
        </li>
      </ul>
    </nav>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
